.home {
  height: 100vh;
  width: 100vw;
  background-color: #3DB9B1;
  color: #FFFFFF;
  position: absolute;
  z-index: -1;
}

.home .pretitle {
  margin-top: 10rem;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.05em;
}

.home .title {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.05em;
  color: #FF9E74;
}

.home .cases {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  height: 62px;
}

.home .subtitle {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.home .take-test-btn {
  margin-top: 2rem;
  background: #E8F7F0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  letter-spacing: 0.05em !important;
  padding: 1rem 2rem !important;
  border: none !important;
  color: #3DB9B1 !important;
} 

.take-test-btn:hover {
  transform: translate(0, 5px);
  border: none;
}

// Background Animation

.particle {
	position: absolute;
  z-index: -1;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 20s infinite;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
	}
}